/* Path: infosys424_project/styles.css */

/* MAIN STYLE */
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
}

.max_width_1920 {
  max-width: 1920px;
  margin: 0 auto;
}

.max_width_1200 {
  max-width: 1200px;
  margin: 0 auto;
}

/*Header*/
.header {
  background-color: orange;
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

/*navigation bar*/

.navbar1 {
  background-color: yellow;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.navbar2 {
  background-color: green;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.index_banner {
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container_main1 {
  display: flex;
  width: 100%;
  background-color: green;
  justify-content: center;
  align-items: center;
  gap: 1%;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.recent_post_content_1 {
  background-color: yellow;
  height: 120px;
  width: 240px;
  border-radius: 12px;
}
.recent_post_content_2 {
  background-color: pink;
  height: 120px;
  width: 240px;
  border-radius: 12px;
}
.recent_post_content_3 {
  background-color: purple;
  height: 120px;
  width: 240px;
  border-radius: 12px;
}
.recent_post_title {
  font-size: 10px;
  text-align: center;
}
.recent_post_event {
  font-size: 17px;
  text-align: center;
  margin-top: 1%;
  padding-bottom: 1px;
  margin-bottom: 1%;
}
.recent_post_photo_1 {
  border: 1px solid black;
  background-color: white;
  height: 50px;
  margin: 0 30%;
}
.recent_post_photo_2 {
  border: 1px solid black;
  background-color: white;
  height: 50px;
  margin: 0 30%;
}
.recent_post_photo_3 {
  border: 1px solid black;
  background-color: white;
  height: 50px;
  margin: 0 30%;
}

/* main2_who_we_are */
.container_main2 {
  display: flex;
  width: 100%;
  background-color: green;
  flex-wrap: wrap;
}

.main2_photo {
  flex: 1; /* make each take up an equal amount of space */
  padding: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.main2_photo_real {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-image: url("image/who_we_are.png");
  background-size: cover;
  background-position: center;
  align-self: center;
}
.main2_content {
  flex: 1;
  padding: 30px;
}

/*index_gallery*/
.index_gallery {
  width: 100%;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery_text {
  text-align: center;
  width: 100%;
}

.gallery_text_up {
  font-size: 20px;
  color: rgba(238, 192, 68, 1);
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
}
.gallery_text_down {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bolder;
}

.gallery_pictures {
  max-width: 1480px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 0 50px 0;
}

.gallery_picture1 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.gallery_picture2 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.gallery_picture3 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.gallery_picture4 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

/*main4*/
.main4 {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.meeting_title {
  text-align: left;
  margin: 0;
  padding: 20px 20px 0 20px;
}

.meeting_title_upper {
  font-size: 24px;
  color: rgba(238, 192, 68, 1);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.meeting_title_lower {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bolder;
}

.meeting_detail {
  text-align: left;
  margin: 0;
  padding: 0 20px 20px 20px;
  font-size: 24px;
  font-weight: 500;
}

.meeting_detail_1 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.meeting_detail_text {
  margin: 15px 0;
  padding: 0;
}
.icon1 {
  width: 4%;
  height: 4%;
  color: rgba(75, 175, 71, 1);
  padding-right: 15px;
}

.icon2 {
  width: 4%;
  height: 4%;
  color: rgba(197, 206, 56, 1);
  padding-right: 15px;
}

.icon3 {
  width: 4%;
  height: 4%;
  color: rgba(238, 192, 68, 1);
  padding-right: 15px;
}
