.header {
  background-color: red;
  padding: 20px;
  text-align: center;
}

/* Path: infosys424_project/styles.css */
.navbar1 {
  background-color: red;
  padding: 20px;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: aqua;
}
