/*th: infosys424_project/styles.css */

/* MAIN STYLE */
body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

.max_width_1920 {
  max-width: 1920px;
  margin: 0 auto;
}

.max_width_1200 {
  max-width: 1200px;
  margin: 0 auto;
}

/*Header*/
.header {
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: black;
}

/* navigation buger */

.navbar-brand {
  flex-grow: 1;
}

.navbar-burger {
  align-self: center;
}

/*navigation bar*/

.navbar {
  background-color: rgba(248, 247, 240, 1);
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  height: 70px; */
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

nav {
  color: black;
}
.nav_logo {
  width: 200px;
  height: 50px;
  background-image: url(image/logos/logo_words_beside_picture2.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  margin: 5px 0 5px 10px;
}

/* Banner */
.index_banner {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
}

/*banner for the other pages*/

.others_banner {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* main1 */
.container_main1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.recent_post_content {
  margin: 0 10px 10px 10px;
  height: 200px;
  width: 300px;
  border-radius: 12px;
  padding: 0;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 10, 0.25);
}
.recent_post_title {
  font-weight: 550;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  margin-bottom: 5px;
  color: black;
}
.recent_post_photo_1 {
  background-color: white;
  width: 100%;
  height: 170px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0;
  background-image: url(image/samplepic5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.recent_post_photo_2 {
  background-color: white;
  width: 100%;
  height: 170px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0;
  background-image: url(image/samplepic4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.recent_post_photo_3 {
  background-color: white;
  width: 100%;
  height: 170px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0;
  background-image: url(image/samplepic5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* main2_who_we_are */
.container_main2 {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
}
.main2_title_first {
  font-family: "Covered By Your Grace", cursive;
  color: #ffb703;
  margin-bottom: 1px;
  font-size: 20px;
}
.main2_title_second {
  margin-top: 0px;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0px;
}
.main2_title_third {
  color: #219ebc;
  font-size: 27px;
  font-weight: bolder;
  margin-top: 7px;
}
.main_2_title_content {
  font-size: 15px;
  line-height: 22px;
  color: rgba(135, 134, 128, 1);
}
.main2_detail_1 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 7px;
  font-weight: 500;
}
.main2_detail_2 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: 10px;
  color: black;
  font-weight: 500;
}
.main2_content {
  flex: 1;
  padding: 30px;
}
.main_2_icon {
  background-image: url(image/icons/check_2.svg);
  background-size: cover;
  height: 12px;
  width: 12px;
}
.main_2_icon_content {
  margin-left: 8px;
  font-size: 15px;
}

.main2_photo {
  flex: 1;
  padding: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.main2_photo_real {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-image: url(image/who_we_are.png);
  background-size: cover;
  background-position: center;
  align-self: center;
}
.main2_button {
  margin-top: 37px;
  border-radius: 7px;
  border: 0px;
  width: 150px;
  height: 50px;
  background-color: #fb8500;
  font-size: 17px;
  font-weight: 550;
  letter-spacing: 1.2px; /* Adjust as needed */
}
.button_text {
  text-decoration: none;
  color: white;
}
/*index_gallery*/
.index_gallery {
  width: 100%;
  background-color: rgba(248, 247, 240, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery_text {
  text-align: center;
  width: 100%;
}

.gallery_text_up {
  font-size: 20px;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 2px;
  color: rgba(238, 192, 68, 1);
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
  height: 20px;
}
.gallery_text_down {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bolder;
}

.gallery_pictures {
  max-width: 1480px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 0 20px 0;
}

.gallery_picture1 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.gallery_picture2 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.gallery_picture3 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.gallery_picture4 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

/*main4*/
.main4 {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.meeting_title {
  text-align: left;
  margin: 0;
  padding: 20px 20px 0 20px;
}

.meeting_title_upper {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgba(238, 192, 68, 1);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.meeting_title_lower {
  font-size: 33px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bolder;
}

.meeting_detail {
  text-align: left;
  margin: 0;
  padding: 0 20px 10px 20px;
  font-size: 10px;
  font-weight: 500;
}

.meeting_detail_1 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.meeting_detail_text {
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
  flex: 28;
  font-weight: 600;
}
.icon1 {
  flex: 1;
  background-image: url(image/icons/check_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  height: 33px;
  width: 30px;
  min-width: 30px;
}

.icon2 {
  flex: 1;
  background-image: url(image/icons/check_2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  height: 33px;
  width: 30px;
  min-width: 30px;
}

.icon3 {
  flex: 1;
  background-image: url(image/icons/check_3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  height: 33px;
  width: 30px;
  min-width: 30px;
}

/* footer */
footer {
  background-color: #2c2b2c;
}

.footer_content {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer_logo_and_icons {
  justify-self: center;
  justify-content: center;
  margin: 20px;
}

.footer_icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: rgba(165, 164, 154, 1) !important;
}

.footer_logo_photo {
  width: 190px;
  height: 80px;
  min-width: 190px;
  min-height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer_contents {
  flex: 4;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0.5%;
  color: rgba(165, 164, 154, 1) !important;
}

.footer_contents p {
  padding-bottom: 5px;
}

.footer_a_tag {
  text-decoration: none;
  color: rgba(165, 164, 154, 1);
}

.footer_policy {
  border-left: 1px solid rgba(165, 164, 154, 1);
  padding-left: 5px;
}
/* sign_in, sign_up*/

.signin.modal-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 10);
  height: 400px;
}

.login_title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  padding-right: 20px;
  margin: 0 0 20px 0;
  padding: 20px 20px 0 20px;
}

.email.control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_email {
  border-radius: 17px;
  width: 380px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid rgba(182, 182, 182, 1);
  font-family: "Manrope", sans-serif;
}
.password.control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_password {
  border-radius: 17px;
  width: 380px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid rgba(182, 182, 182, 1);
  font-family: "Manrope", sans-serif;
}

.submit.control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup.modal-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 10);
  height: 500px;
}
.login_button {
  border-radius: 17px;
  width: 380px;
  height: 40px;
  background: linear-gradient(to right, rgb(124, 155, 239), rgb(147, 236, 147));
  border: rgba(182, 182, 182, 1);
  color: white;
  font-family: "Manrope", sans-serif;
}

.label_username {
  margin-bottom: 0px;
  color: rgb(0, 0, 0);

  font-size: 15px;
  font-family: "Manrope", sans-serif;
}
.label_email {
  margin-bottom: 0px;
  color: rgb(0, 0, 0);

  font-size: 15px;
  font-family: "Manrope", sans-serif;
}

.label_password {
  margin-bottom: 0px;
  color: rgb(0, 0, 0);

  font-size: 15px;
  font-family: "Manrope", sans-serif;
}

.have_account {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}
.signin.modal-content {
  width: 600px;
}
.signup.modal-content {
  width: 600px;
}

/*gallery page*/

.gallery_main {
  padding: 0;
  margin: 0;
  background-color: rgba(248, 247, 240, 1);
  border-radius: 5px;
  padding: 5px 20px 0 20px;
}

.gallery_title {
  text-align: center;
  margin: 0;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bolder;
  letter-spacing: 4px;
}

.gallery_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 0 20px 0;
}

.gallery_pics {
  height: 250px;
  border-radius: 20px;
}

/* POSTS */
.post_main {
  padding: 0;
  margin: 0;
  background-color: #8ecae63e;
  border-radius: 5px;
  padding: 5px 20px 0 20px;
}
.post_title {
  text-align: center;
  margin: 0;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bolder;
  letter-spacing: 4px;
}

.post_content_box {
  justify-self: center;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 20px 20px;
  background-color: rgba(248, 247, 240, 1);
  border-radius: 5px;
  margin-bottom: 10px;
}

.post_thumbnail {
  display: flex;
  width: 600px;
  background-size: auto;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0;
}

.post_nameanddate {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bolder;
  padding-bottom: 5px;
  margin-top: 5px;
}

.post_text_title {
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 5px;
}

.post_text {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: normal;
}

.post_readmore {
  text-align: right;
  font-size: 15px;
  font-weight: 500;
}

/* inside post */
.inside_post_main {
  padding: 0;
  margin: 0;
  background-color: #8ecae63e;
  border-radius: 5px;
  padding: 5px 20px 0 20px;
}

.inside_post_title {
  text-align: left;
  margin: 0;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bolder;
}

.inside_post_image {
  width: 50%;
  display: flex;
  margin: 0 auto;
  background-color: rgba(248, 247, 240, 1);
  border-radius: 5px;
}

.inside_post_author_date {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.inside_post_comments_section {
  justify-content: space-between;
  padding: 15px;
  margin-top: 5px;
  background-color: beige;
  border-radius: 5px;
}

.inside_post_comments_title {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 5px;
}

.inside_post_comment {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}

.inside_post_comment_username {
  font-weight: bolder;
}

.inside_post_write_comment {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}

.inside_post_write_comment_input {
  width: 100%;
  border: 1px solid rgba(182, 182, 182, 1);
  border-radius: 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.inside_post_write_comment_button {
  width: 10%;
  background-color: #fb8500;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
}

/* Events */
.events_main {
  padding: 0;
  margin: 0;
  background-color: rgba(248, 247, 240, 1);
  border-radius: 5px;
  padding: 5px 20px 0 20px;
}

.events_title {
  text-align: left;
  margin: 0;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bolder;
}

.events_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* About page */
.about_main_2,
.about_main_1 {
  padding: 0;
  margin: 0;
  background-color: rgba(248, 247, 240, 1);

  padding: 5px 20px 0 20px;
}
.about_title {
  text-align: center;
  margin: 0;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bolder;
}

.about_content {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 600;
}
.about_overview {
  padding-bottom: 20px;
}
.about_today_title,
.about_our_history_title,
.about_who_we_are_title,
.about_our_mission_title,
.about_overview_title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bolder;
  color: black;
}

.about_who_we_are_contents,
.about_our_mission_contents,
.about_overview_contents {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
}
.about_today_contents {
  font-size: 18px;
  margin-top: 0;
  color: black;
}
.about_video {
  height: 500px;
  max-width: 1920px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about_our_mission_contents_detail {
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 30px;
  color: black;
}
.about_our_mission_contents_detail_main {
  font-weight: 650;
  color: black;
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 0;
}
.about_our_history_contents_1 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 30px;
  color: black;
}
.about_our_history_contents_2 {
  font-size: 18px;
  color: black;
  margin-bottom: 30px;
}
.about_main_3 {
  padding: 0;
  margin: 0;
  background-color: rgba(248, 247, 240, 1);
  padding: 5px 20px 0 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.about_main_3_title {
  text-align: center;
  margin: 0;
  font-size: 40px;
  margin-bottom: 10px;
}
.about_main_3_title_1 {
  font-family: "Covered By Your Grace", cursive;
  color: #ffb703;
  margin-bottom: 1px;
  font-size: 24px;
}
.about_main_3_title_2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 1000;
  color: black;
}

.about_main_3_content {
  width: 72%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 20px;
}

.about_main_3_photo {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 250x;
  margin: 0;
}
.about_main_3_photo_real_left {
  width: 200px;
  height: 200px;
  border: 0px solid rgb(0, 0, 10, 10);
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  background-image: url(image/who_we_are.png);
  background-size: cover;
  align-self: center;
}

.about_main_3_photo_real_right {
  width: 200px;
  height: 200px;
  border: 0px solid rgb(0, 0, 10, 10);
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  background-image: url(image/samplepic7.jpg);
  background-size: cover;
  align-self: center;
}
.about_main_3_content_container {
  border: 1px solid black;
}
.about_main_3_photo_content {
  border-radius: 5%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.about_main_3_photo_content_detail {
  height: 200px;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  background-color: rgba(243, 223, 174, 1);
  margin: auto;
  padding: 10px;
  width: 200px;
}
.about_main_3_right_container {
  display: flex;

  margin-bottom: 1%;
}
.about_main_3_left_container {
  display: flex;

  margin-bottom: 1%;
}
/* Write post */
.write_post_main {
  margin: 0;
  background-color: #8ecae63e;
  border-radius: 5px;
  padding: 5px 20px 10px 20px;
}

.write_post_title {
  text-align: left;
  margin: 0;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bolder;
}

.write_post_title_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 247, 240, 1);
  border-radius: 5px;
  margin-bottom: 10px;
}

.write_post_title_input {
  width: 100%;
  border: 1px solid rgba(182, 182, 182, 1);
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(248, 247, 240, 1);
}

#toolbar,
#editor {
  border: 1px solid rgba(182, 182, 182, 1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(248, 247, 240, 1);
}

.ql-editor {
  min-height: 200px;
}

.write_post_button_box {
  display: flex;
  justify-content: right;
  border-radius: 5px;
  margin-bottom: 10px;
}

.write_post_button {
  width: 30%;
  background-color: #fb8500;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  padding: 10px;
}
