/* Path: infosys424_project/styles.css */

/* MAIN STYLE */
body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

.max_width_1920 {
  max-width: 1920px;
  margin: 0 auto;
}

.max_width_1200 {
  max-width: 1200px;
  margin: 0 auto;
}

/*Header*/
.header {
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: black;
}

/*navigation bar*/

.navbar {
  background-color: #8ecae6;
  padding-left: 40px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.navbar .nav_home,
.navbar .nav_about,
.navbar .nav_gallery,
.navbar .nav_post,
.navbar .nav_contact,
.navbar .nav_event,
.navbar .nav_signin,
.navbar .nav_signup {
  color: black;
}
.nav_logo {
  width: 200px;
  min-width: 200px;
  height: 100px;
  background-image: url(image/logos/logo_words_beside_picture.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Banner */
.index_banner {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
}
/* main1 */
.container_main1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.recent_post_content_1 {
  margin: 0 10px 10px 10px;
  height: 200px;
  width: 300px;
  border-radius: 12px;
  padding: 0;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 10);
}
.recent_post_content_2 {
  margin: 0 10px 10px 10px;
  height: 200px;
  width: 300px;
  border-radius: 12px;
  padding: 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 10);
}
.recent_post_content_3 {
  margin: 0 10px 10px 10px;
  height: 200px;
  width: 300px;
  border-radius: 12px;
  padding: 0;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 10);
}
.recent_post_title {
  font-weight: 550;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  margin-bottom: 5px;
  color: black;
}
.recent_post_photo_1 {
  background-color: white;
  width: 100%;
  height: 165px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0;
  background-image: url(image/samplepic5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.recent_post_photo_2 {
  background-color: white;
  width: 100%;
  height: 165px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0;
  background-image: url(image/samplepic4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.recent_post_photo_3 {
  background-color: white;
  width: 100%;
  height: 165px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0;
  background-image: url(image/samplepic5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* main2_who_we_are */
.container_main2 {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
}
.main2_title_first {
  font-family: "Covered By Your Grace", cursive;
  color: #ffb703;
  margin-bottom: 1px;
  font-size: 20px;
}
.main2_title_second {
  margin-top: 0px;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0px;
}
.main2_title_third {
  color: #219ebc;
  font-size: 27px;
  font-weight: bolder;
  margin-top: 7px;
}
.main_2_title_content {
  font-size: 15px;
  line-height: 22px;
  color: rgba(135, 134, 128, 1);
}
.main2_detail_1 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 7px;
  font-weight: 500;
}
.main2_detail_2 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: 10px;
  color: black;
  font-weight: 500;
}
.main2_content {
  flex: 1;
  padding: 30px;
}
.main_2_icon {
  background-image: url(image/icons/check_2.svg);
  background-size: cover;
  height: 12px;
  width: 12px;
}
.main_2_icon_content {
  margin-left: 8px;
  font-size: 15px;
}

.main2_photo {
  flex: 1;
  padding: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.main2_photo_real {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-image: url(image/who_we_are.png);
  background-size: cover;
  background-position: center;
  align-self: center;
}
.main2_button {
  margin-top: 37px;
  border-radius: 7px;
  border: 0px;
  width: 150px;
  height: 50px;
  background-color: #fb8500;
  font-size: 17px;
  font-weight: 550;
  letter-spacing: 1.2px; /* Adjust as needed */
}
.button_text {
  text-decoration: none;
  color: white;
}
/*index_gallery*/
.index_gallery {
  width: 100%;
  background-color: #8ecae63e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery_text {
  text-align: center;
  width: 100%;
}

.gallery_text_up {
  font-size: 20px;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;

  color: rgba(238, 192, 68, 1);
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
}
.gallery_text_down {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bolder;
}

.gallery_pictures {
  max-width: 1480px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 0 20px 0;
}

.gallery_picture1 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.gallery_picture2 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.gallery_picture3 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.gallery_picture4 {
  width: 250px;
  height: 450px;
  background-color: pink;
  border-radius: 20px;
  background-image: url(image/samplepic4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

/*main4*/
.main4 {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.meeting_title {
  text-align: left;
  margin: 0;
  padding: 20px 20px 0 20px;
}

.meeting_title_upper {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgba(238, 192, 68, 1);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.meeting_title_lower {
  font-size: 33px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bolder;
}

.meeting_detail {
  text-align: left;
  margin: 0;
  padding: 0 20px 10px 20px;
  font-size: 10px;
  font-weight: 500;
}

.meeting_detail_1 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.meeting_detail_text {
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
  flex: 28;
}
.icon1 {
  flex: 1;
  background-image: url(image/icons/check_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  height: 33px;
  width: 30px;
  min-width: 30px;
}

.icon2 {
  flex: 1;
  background-image: url(image/icons/check_2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  height: 33px;
  width: 30px;
  min-width: 30px;
}

.icon3 {
  flex: 1;
  background-image: url(image/icons/check_3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  height: 33px;
  width: 30px;
  min-width: 30px;
}

/* footer */
footer {
  background-color: #2c2b2c;
  height: 90px;
}

.footer_content {
  width: 100%;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.footer_logo {
  flex: 1;
  width: 250px;
  height: 80px;
}

.footer_logo_photo {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  width: 90%;
}

.footer_contents {
  flex: 4;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0.5%;
}
.footer_a_tag {
  text-decoration: none;
  color: rgba(165, 164, 154, 1);
}

.footer_about {
  color: rgba(165, 164, 154, 1) !important;
}
.footer_policy {
  border-left: 1px solid rgba(165, 164, 154, 1);
  padding-left: 5px;
}
/* sign_in, sign_up*/

.signin.modal-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 10);
  height: 400px;
}

.login_title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  padding-right: 20px;
  margin: 0;
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
  color: rgba(182, 182, 182, 1);
  font-family: "Manrope", sans-serif;
}

.email.control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_email {
  border-radius: 17px;
  width: 380px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid rgba(182, 182, 182, 1);
  font-family: "Manrope", sans-serif;
}
.password.control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_password {
  border-radius: 17px;
  width: 380px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid rgba(182, 182, 182, 1);
  font-family: "Manrope", sans-serif;
}

.submit.control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup.modal-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 10);
  height: 500px;
}
.login_button {
  border-radius: 17px;
  width: 380px;
  height: 40px;
  background: linear-gradient(to right, rgb(124, 155, 239), rgb(147, 236, 147));
  border: rgba(182, 182, 182, 1);
  color: white;
  font-family: "Manrope", sans-serif;
}

.label_username {
  margin-bottom: 0px;
  color: rgb(0, 0, 0);

  font-size: 15px;
  font-family: "Manrope", sans-serif;
}
.label_email {
  margin-bottom: 0px;
  color: rgb(0, 0, 0);

  font-size: 15px;
  font-family: "Manrope", sans-serif;
}

.label_password {
  margin-bottom: 0px;
  color: rgb(0, 0, 0);

  font-size: 15px;
  font-family: "Manrope", sans-serif;
}

.have_account {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}
